<button (click)="get()" style="background-color: coral;">GetEMPdata</button>
<table *ngIf="flag">
    <tr>

        <td>
            Product Quantity
        </td>
        <td>
            Product Price
        </td>
    </tr>
<tr *ngFor="let p of prodlist">
    <td>p</td>
   
    <td >{{p.name}}</td>
   
</tr>
</table> 
<app-header></app-header>
<!--<a routerLink="/Product">Products</a>
<a routerLink="/Posts">Posts</a>
<a routerLink="/Users">User</a>
<a routerLink="/Posts">Posts</a>-->

<br>



 <!--<div class="navbar">
    <a routerLink="/Product" class="active" >Products</a> 
    <a routerLink="/Posts">Posts</a> 
    <a routerLink="/Users">User</a> 
    <a routerLink="/HOME">Posts</a>
  </div>
  -->
<!--app-reactive-form></app-reactive-form>-->
<!--<router-outlet></router-outlet>-->
<app-notes></app-notes>


<app-footer></app-footer>